body {
	overflow-x: hidden;
	overflow-y: scroll;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*,
::after,
::before {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	position: fixed;
	font-family: "Lato", sans-serif;
}

h1 {
	font-size: 72pt !important;
	font-weight: bold !important;
}

html {
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
